body {
	padding: 0;
	margin: 0;
}
.header {
	left: 0;
	top: 0;
	width: 100%;
	position: fixed;
	height: auto;
	z-index: 100;
}
.header > img {
	width: 100%;
}
.content {
	position: absolute;
	width: 90%;
	height: auto;
	top: 250px;
	left: 50%;
	margin-left: -45%;
}
.video {
	position: relative;
	display: inline-block;
	float: left;
	width: 30%;
	height: 200px;
	margin: 20px 1.6%;
	background-color: grey;
}
.video > div > i {
	position: relative;
	font-size: 66px;
	left: 50%;
	top: 100px;
	margin-top: -33px;
	margin-left: -33px;
	opacity: 0;
	color: white;
}
.video-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.video-hover:hover {
	background-color: rgba(251, 251, 251, 0.45);
}
.video-hover:hover > .description-video {
	animation-name: descriptionvideo;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
}
@keyframes descriptionvideo {
    from {padding: 0}
    to {padding: 4% 0; opacity: 0.5}
}
.description-video {
	position: absolute;
	opacity: 0;
	width: 100%;
	padding: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: black;
}
.description-video > span {
	color: white;
	opacity: 1;
}
/*.description-video > span {
	position: relative;
	font-size: 16px;
	top: 50%;
	margin-top: -16px;
} */
/*.video:hover {
	background-color: rgba(184, 175, 158, 0.45);
}*/
.video:hover > div > i {
	opacity: 1;
}
.video > img {
	width: 100%;
	height: 100%;
	max-width:100%;
	max-height:100%;
}
@media only screen and (max-device-width: 500px) {
	.content {
		position: absolute;
		width: 90%;
		height: auto;
		top: 200px;
		left: 50%;
		margin-left: -45%;
	}
	.video {
		position: relative;
		display: inline-block;
		float: left;
		width: 90%;
		height: 500px;
		margin: 20px 5%;
		background-color: white;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	.content {
		position: absolute;
		width: 90%;
		height: auto;
		top: 400px;
		left: 50%;
		margin-left: -45%;
	}
	.video {
		position: relative;
		display: inline-block;
		float: left;
		width: 20%;
		height: 200px;
		border: 1px solid grey;
		margin: 20px calc(2.5% - 1px);
		background-color: grey;
	}
}
/* 1.25 dpr */
@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-resolution: 120dpi){
	.content {
		position: absolute;
		width: 90%;
		height: auto;
		top: 400px;
		left: 50%;
		margin-left: -45%;
	}
	.video {
		position: relative;
		display: inline-block;
		float: left;
		width: 20%;
		height: 200px;
		border: 1px solid grey;
		margin: 20px calc(2.5% - 1px);
		background-color: grey;
	}
}

/* 1.3 dpr */
@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-resolution: 124.8dpi){
	.content {
		position: absolute;
		width: 90%;
		height: auto;
		top: 400px;
		left: 50%;
		margin-left: -45%;
	}
	.video {
		position: relative;
		display: inline-block;
		float: left;
		width: 20%;
		height: 200px;
		border: 1px solid grey;
		margin: 20px calc(2.5% - 1px);
		background-color: grey;
	}
}

/* 1.5 dpr */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dpi){
	.content {
		position: absolute;
		width: 90%;
		height: auto;
		top: 400px;
		left: 50%;
		margin-left: -45%;
	}
	.video {
		position: relative;
		display: inline-block;
		float: left;
		width: 20%;
		height: 200px;
		border: 1px solid grey;
		margin: 20px calc(2.5% - 1px);
		background-color: grey;
	}
}
@media  only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi) {
			.content {
				position: absolute;
				width: 90%;
				height: auto;
				top: 400px;
				left: 50%;
				margin-left: -45%;
			}
			.video {
				position: relative;
				display: inline-block;
				float: left;
				width: 20%;
				height: 200px;
				border: 1px solid grey;
				margin: 20px calc(2.5% - 1px);
				background-color: grey;
			}
}
/*******************  Plugin social network side ****************/

.sticky-container{
		/*background-color: #333;*/
		padding: 0px;
		margin: 0px;
		position: fixed;
		right: -119px;
		top:50%;
		width: 200px;
    z-index: 100;
	}
	.sticky li{
		list-style-type: none;
		background-color: rgba(51, 51, 51, 0.45);
		color: #efefef;
		height: 43px;
		padding: 0px;
		margin: 0px 0px 1px 0px;
    border-radius: 30px 0 0 30px;
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
		cursor: pointer;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                filter: gray;
                -webkit-filter: grayscale(100%);
                overflow-x: hidden;
	}
	.sticky li:hover{
		margin-left: -115px;
		/*-webkit-transform: translateX(-115px);
		-moz-transform: translateX(-115px);
		-o-transform: translateX(-115px);
		-ms-transform: translateX(-115px);
		transform:translateX(-115px);*/
		/*background-color: #8e44ad;*/
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
                -webkit-filter: grayscale(0%);
	}
	.sticky li img{
		float: left;
		margin: 5px 5px;
		margin-right: 10px;
	}
	.sticky li p{
		padding: 0px;
		margin: 0px;
		text-transform: uppercase;
		line-height: 43px;
    display: inline-block;
	}
	p .social-p{
		color: #ecf0f1;
		font-family: "Lato";
		line-height: 28px;
		font-size: 15px;
		padding-top: 50px;
	}
	p.credit{
		padding-top: 20px;
		font-size: 12px;
	}
	p a .social-p-a{
		color: #ecf0f1;
	}
	/** fork icon**/
	.fork{
		position: absolute;
		top:0px;
		left: 0px;
	}
  .div-icon-social{
    min-width: 32px;
    min-height: 32px;
    padding: 10px 15px;
    display: inline-block;
  }
  .div-facebook{
    /*background-color: rgba(59, 89, 152, 0.83);*/
    margin-right: 5px;
    border-radius: 28px 0 0 28px;
  }
  .div-twitter{
    /*background-color: rgba(85, 172, 238, 0.83);*/
    margin-right: 5px;
    border-radius: 28px 0 0 28px;
  }
  .div-contact{
    /*background-color: rgba(150, 15, 51, 0.83);*/
    margin-right: 5px;
    border-radius: 28px 0 0 28px;
  }

/****************************** end social sidebar pluging *********************
